@model Aroosha.Models.ChangePasswordModel

@{
    Layout = "_ToolbarLayout";
}


<div class="container" style="font-family:Vazir,Tahoma;font-size:12px">

    @using (Html.BeginForm("ChangePassword", "Security", FormMethod.Post, new { id = "FormChangePassword", @class = "form" }))
    {
    <div class="row">

        <div class="col-6 col-justify-content-right">
            @(Html.Kendo().TextBoxFor(model => model.UserFullName)
                        .Placeholder("نام و نام خانوادگی کاربر")
                        .Readonly(true)
                        .Label(label => label
                            .Content("نام و نام خانوادگی کاربر")
                            .Floating(true)
                        )
                        .HtmlAttributes(new { style = "width:100%;font-family:Vazir,Tahoma;font-size:12px" })

                    )
        </div>
        <div class="col-6 col-justify-content-right">
            @(Html.Kendo().TextBoxFor(model => model.Username)
                            .Placeholder("نام کاربری")
                            .Readonly(true)
                            .HtmlAttributes(new { style = "width:100%;font-size:12px;font-family:Vazir,Tahoma;" })
                            .Label(label => label
                                .Content("نام کاربری")
                                .Floating(true)
                            )
                            )
        </div>
        <div class="col-6 col-justify-content-right">
            @(Html.Kendo().TextBoxFor(model => model.CurrentPassword)
                        .Placeholder("کلمه عبور جاری...")
                        .Label(label => label
                            .Content("کلمه عبور جاری")
                            .Floating(true)
                        )
                        .HtmlAttributes(new { type = "password", style = "width:100%;font-size:12px;font-family:Vazir,Tahoma;" })
                        )
        </div>
        <div class="col-6 col-justify-content-right">
            @(Html.Kendo().TextBoxFor(model => model.PasswordHint)
                        .Placeholder("راهنمای کلمه عبور")
                        .Label(label => label
                            .Content("راهنمای کلمه عبور")
                            .Floating(true)
                        )
                        .HtmlAttributes(new { style = "width:100%;font-family:Vazir,Tahoma;font-size:12px" })

                    )
        </div>
        <div class="col-6 col-justify-content-right">
            @(Html.Kendo().TextBoxFor(model => model.NewPassword)
                        .Placeholder("کلمه عبور جدید...")
                        .Label(label => label
                            .Content("کلمه عبور جدید")
                            .Floating(true)
                        )
                        .HtmlAttributes(new { type = "password", style = "width:100%;font-size:12px;font-family:Vazir,Tahoma;" })
                        )
        </div>
        <div class="col-6 col-justify-content-right">
            @(Html.Kendo().TextBoxFor(model => model.NewPasswordRepetition)
                        .Placeholder("تکرار کلمه عبور جدید...")
                        .Label(label => label
                            .Content("تکرار کلمه عبور جدید")
                            .Floating(true)
                        )
                        .HtmlAttributes(new { type = "password", style = "width:100%;font-size:12px;font-family:Vazir,Tahoma;" })
                        )
        </div>

    </div>


        @Html.HiddenFor(model => model.UserId)

    }

</div>

@section Scripts {



    <script>
        var ViewName = "ChangePassword";
        $(document).ready(function (e) {

            $("span.k-floating-label-container").css("width", "100%");

            $("#Btn" + ViewName + "Save").click(function (e) {

                Save("close");

            });

            


        });



        function Save(action) {
            

            var valdata = $("#FormChangePassword").serialize();

            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangePassword")",
                data: valdata,
                dataType: "json",
                success: function (data) {

                    showNotification("تغییر کلمه عبور", data.ResultMessage, data.ResultType);
                    Id = data.Id;
                    if (data.ResultType == "success") {

                        var UserId = 0;

                        $("#logout").click();

                       
                    }
                },
                error: function (req, status, error) {
                    showNotification("تغییر کلمه عبور", error, "error");

                }
            });

        }


        function refreshChangePassword() {

            $("span#SecurityChangePassword_BtnRefresh").click();
            var tabStrip = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
            tabStrip.reload("li[dialogName=SecurityChangePassword]");

        }



    </script>
}


